#java
*.class

#package file
*.war
*.ear
*.zip
*.tar.gz
*.rar
#maven ignore
target/
build/

#eclipse ignore
.settings/
.project
.classpatch

#Intellij idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp
*.vswp

# system ignore
.DS_Store
Thumbs.db

# exe file
*.exe

#private
./Solution.java
docs/Vnote/程序员练级之路/TODO/开题笔记.md
CTest/algorithm/KMP.exe
docs/Vnote/vx_recycle_bin
docs/Vnote/Thinking


